<section class="login flex justify-center pt-24">
    <div class="w-full max-w-xs">
        <form action="/login" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
          <% if(messages.error) { %>
            <span class="text-red-500 text-sm"><%= messages.error %></span>
          <% } %>
          <% if(messages.success) { %>
            <p style="color: #59b256;"><%= messages.success %></p>
          <% } %>
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
              Email
            </label>
            <input
              name="email" required
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" value='<%= messages.email && messages.email %>' type="email" placeholder="Enter your email">
          </div>
          <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
              Password
            </label>
            <div class="flex relative">
              <input 
                name="password" required
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="******************">
              <i class="fas fa-eye" id="togglePassword"></i>
            </div>
          </div>
          <div class="flex items-center justify-between">
            <button 
              class="btn-primary rounded text-white font-bold py-2 px-4 focus:outline-none focus:shadow-outline" 
              type="submit"
            >
              Sign In
            </button>
            <!-- <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="/register">
              Don't have account?
            </a> -->
            <div style="display: flex;flex-direction: column;">
              <a class="inline-block align-baseline font-bold text-sm mb-4 text-blue-500 hover:text-blue-800" href="/sendOtp">
                Verify email
              </a>
              <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" style="color: rgb(238, 48, 14);" href="/sendOtpForgot">
                Forgot password ?
              </a>
            </div>
            
          </div>
          
        </form>
        <p class="text-center text-gray-500 text-md" style="margin-bottom: 20px;">
          &copy;2021 <a href="https://sarthakshukla.netlify.app" target="_blank">Sarthak Shukla</a>. All rights reserved.
        </p>
      </div>
</section>


<script>
  let password = document.getElementById('password');
  let togglePassword = document.getElementById('togglePassword');

  togglePassword.addEventListener('click', (e) => {
    let type = password.getAttribute('type') === 'password' ? 'text' : 'password';
    password.setAttribute('type', type);

    togglePassword.classList.toggle('fa-eye-slash');
})

</script>