<section class="error404">
    <div class="container mx-auto text-center mt-12">
        <img class="mx-auto w-1/2" src="https://www.pngitem.com/pimgs/m/254-2549847_404-png-download-404-not-found-transparent-png.png" alt="">
        <a class="btn-primary inline-block px-6 py-2 rounded-full text-white font-bold mt-12" href="/">Go to home page</a>
    </div>
</section>