// Colors
// $primary: #FE5F1E;
$primary: #539e50;
$primary-hover: #59b256;
// $primary-hover: #b23301;

$secondary: #F8F8F8;

$pure: #fff;
$dark: #232323;
$gray: #ccc;


// Transitions
$smooth: all .3s ease-in-out;